<!-- <div class="notecard">
    <div class="notecard-content">
       <span>
        noteDetails.title
       </span>
       <span>
        noteDetails.description
       </span>
       <mat-list-item>
        <mat-icon>notifications</mat-icon>
        <span>Reminders</span>
      </mat-list-item>
    </div>
    <div class="notecard-icons">
       <input matInput placeholder="Take a note...">
        <mat-icon svgIcon="collabrator-icon" aria-hidden="false" aria-label="reminder icon"></mat-icon>
        <mat-icon svgIcon="color-palatte-icon" aria-hidden="false" aria-label="reminder icon"></mat-icon>
        <mat-icon svgIcon="img-icon" aria-hidden="false" aria-label="reminder icon"></mat-icon>
        <mat-icon svgIcon="more-icon" aria-hidden="false" aria-label="reminder icon"></mat-icon>
        <mat-icon svgIcon="archive-icon" aria-hidden="false" aria-label="reminder icon"></mat-icon>
        <mat-icon svgIcon="delete-forever-icon" aria-hidden="false" aria-label="reminder icon"></mat-icon>
        <mat-icon svgIcon="restore-icon" aria-hidden="false" aria-label="reminder icon"></mat-icon>
        <mat-icon svgIcon="unarchive-icon" aria-hidden="false" aria-label="reminder icon"></mat-icon>
    </div>
</div>

 -->

 <div class="note-card">
    <mat-card>
        <h4>{{note.title}}</h4>
        <p>{{note.description}}</p>
    </mat-card>
</div>
