.addnoteinputbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 460px;
    height: 33px;
    padding: 1%;
    background-color: white;
    border-radius: 8px;
    border: 1px solid grayscale($color: #bcb7b7);
}

.addnoteinputboxtext {
    width: 360px;
}

.addnoteinputboxtextinput {
    &:focus-visible {
        outline: none;
    }

    ;
}

.addnoteinputboxicons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 24%;
    margin-top: 6px;
}

.notecard {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: left;
    height: 100px;
    width: 350px;
    margin-bottom: 30px;
    padding: 2%;
    // width:100%;
    border: 1px solid gray;
    border-radius: 1rem;
}

.notecard-content {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

.notecard-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10%;
}

.notecard-content-input {
    background-color: whitesmoke;
    border: none;

    &:focus-visible {
        outline: none;
    }

    ;
}

.notecard-content-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.addnoteinputboxdetails {
    width: 100%;

}