<div class="register">
    <form class="register-container" [formGroup]="registerForm">
        <div class="register-container-main">
            <h2 style="color: rgb(230, 230, 37)"><b>Fundo</b></h2>
            <p>Create your Fundo Account</p>
            <div class="register-container-main-name">
                <mat-form-field appearance="outline" class="register-container-main-name1">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="First Name*" formControlName="firstName" />
                </mat-form-field>
                <mat-form-field appearance="outline" class="register-container-main-name1">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Last Name*" formControlName="lastName" />
                </mat-form-field>
            </div>
            <div class="register-container-main-username">
                <mat-form-field appearance="outline" style="width: 100%">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Username*" formControlName="userName" />
                    <mat-hint>you can use letters,numbers and periods</mat-hint>
                </mat-form-field>
            </div>


            <div class="register-container-main-password">
                <mat-form-field appearance="outline" class="register-container-main-password11">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password*" formControlName="password" />
                    <mat-hint>Use 8 or more characters with a mix of letters,numbers and
                        symbols</mat-hint>
                    <mat-error *ngIf="registerControl['password']?.hasError('required')">Password required</mat-error>
                    <mat-error *ngIf="registerControl['password']?.hasError('minlength')">minimum length is
                        8</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="register-container-main-password12">
                    <mat-label>Confirm</mat-label>
                    <input matInput placeholder="Confirm*" formControlName="confirmPassword" />
                </mat-form-field>
            </div>
            <div class="register-container-main-button">
                <button class="register-container-main-sign-in-instead" (click)="redirectToLogin()" style="cursor: pointer;">
                    <b>Sign in instead</b>
                </button>
                <button mat-flat-button color="primary" (click)="handleRegister()">Register</button>
            </div>
        </div>
        <div class="register-container-picture">
            <img src="../../assets/register page image.png" />
            <h2 style="padding-left: 10%; padding-right:5%">One account. All of Fundo working for you</h2>
        </div>
    </form>

    <div class="footer-links">
        <div class="footer-links1">
            <select id="language-select" title="English (United States)">
                <option value="en-US">English (United States)</option>
                <option value="en-GB">English (United Kingdom)</option>
                <option value="es-ES">Spanish (Spain)</option>
                <option value="fr-FR">French (France)</option>
                <option value="de-DE">German (Germany)</option>
                <option value="zh-CN">Chinese (Simplified)</option>
                <option value="ja-JP">Japanese</option>
                <option value="hi-IN">Hindi (India)</option>
            </select>
        </div>
        <div class="footer-links2">
            <button class="login-normal-button2">Help</button>
            <button class="login-normal-button2">Privacy</button>
            <button class="login-normal-button2">terms</button>
        </div>
    </div>
</div>