<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
        <img src="../../assets/googleImage.jpg" alt="googleImage" class="googleImage">
    </mat-card-header>
    <div class="card-content">
      <div class="content-left">
        <h1 class="mainHeading">Create a Google</h1>
        <h1 class="mainHeading-side">Account</h1>
        <h4 class="mainHeading-side2">Enter Your Name</h4>
      </div>
      <div class="content-right">
        <form>
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="First Name">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Last Name(Optional)</mat-label>
            <input matInput placeholder="Last Name(Optional)">
          </mat-form-field>
        </form> 
      </div>  
    </div>
    <mat-card-actions>
        <button class="Next" mat-button [routerLink]="['/birthdetails']">Next</button>
    </mat-card-actions>    
    </mat-card> 
    
    <mat-form-field class="btm" appearance="fill" >
      <mat-select [value]="'en-US'">
        <mat-option class="opt" value="en-US">English (United States)</mat-option>
        <mat-option class="opt" value="fr">French</mat-option>
        <mat-option class="opt" value="de">German</mat-option>
        <mat-option class="opt" value="it">Italian</mat-option>
        <mat-option class="opt" value="es">Spanish</mat-option>
        <mat-option class="opt" value="pt">Portuguese</mat-option>
        <mat-option class="opt" value="ja">Japanese</mat-option>
        <mat-option class="opt" value="ko">Korean</mat-option>
      </mat-select>
    </mat-form-field>
    <button class="footerbutton" mat-button>Help</button>
    <button class="footerbutton1" mat-button>Privacy</button>
    <button class="footerbutton1" mat-button>Terms</button>
    
    
      
    
    