<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
        <img src="../../assets/googleImage.jpg" alt="googleImage" class="googleImage">
    </mat-card-header>
    <div class="card-content">
      <div class="content-left">
        <h1>Welcome</h1>
      </div>
      <div class="content-right">
        <form [formGroup]="loginForm">
          <mat-form-field appearance="outline">
            <mat-label>Enter your password</mat-label>
            <input matInput placeholder="Enter your password" formControlName="password">
          </mat-form-field>
        </form> 
        <div class="passwordError" *ngIf="loginForm.get('password')?.hasError('minlength')">
          minimum length is 8
        </div>
        <mat-checkbox class="checkBox">Show Password</mat-checkbox>
      </div>  
    </div>
    <mat-card-actions>
        <a class="forgotPassword">Forgot Password?</a>
        <button class="nextButton" mat-button (click)="handleLogin()">Next</button>
    </mat-card-actions>    
    </mat-card> 
    
    <mat-form-field class="btm" appearance="fill" >
      <mat-select [value]="'en-US'">
        <mat-option class="opt" value="en-US">English (United States)</mat-option>
        <mat-option class="opt" value="fr">French</mat-option>
        <mat-option class="opt" value="de">German</mat-option>
        <mat-option class="opt" value="it">Italian</mat-option>
        <mat-option class="opt" value="es">Spanish</mat-option>
        <mat-option class="opt" value="pt">Portuguese</mat-option>
        <mat-option class="opt" value="ja">Japanese</mat-option>
        <mat-option class="opt" value="ko">Korean</mat-option>
      </mat-select>
    </mat-form-field>
    <button class="footerbutton" mat-button>Help</button>
    <button class="footerbutton1" mat-button>Privacy</button>
    <button class="footerbutton1" mat-button>Terms</button>
    
    
      
    
    