.example-card{
    max-width: 800px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

mat-card{
   height:300px; 
}

.content-left{
    max-width: 400px;
    font-family: "Google Sans", roboto, "Noto Sans Myanmar UI", arial, sans-serif;
    font-weight: 400px;
}

.content-right{
    max-width: 400px;
}

mat-form-field{
    width: 350px;
    margin-left: 250px;
    padding-bottom: 10px;
}

form{
   height:65px; 
}

.message{
    margin-left: 550px;
    padding-left: 240px;
    font-family: "Google Sans", roboto, "Noto Sans Myanmar UI", arial, sans-serif;
    font-weight: 400px;
    line-height: 1.4285714286;
    margin-top: 32px;
    width: 350px;
    margin-left: 10px;
}

mat-card-header{
    margin-left: 0;
}

.googleImage{
    width: 48px;
    height: 48px;
}

.card-content{
    display: flex;
    margin-left: 40px;
    margin-top: 15px;
}

a{
    margin-left: 250px;
    text-decoration: none;
}

.messageLink{
    text-decoration: none;
}

mat-card-actions{
    margin-left: 370px;
}

.btm{
    margin-left: 200px;
    margin-top: 10px;
    width:200px;
    border-radius: 16px;
    background-color: #f0f4f9 !important;
    padding-bottom: auto;
    height:32px;
}

.mat-form-field-appearance-fill .mat-form-field-flex{
    background-color: #ffff !important;
}

.footerbutton{
    margin-left: 400px;
    margin-top: 10px;
    border-radius: 16px;
    background-color: #f0f4f9 !important;
}

.opt{
    font-family: "Google Sans", roboto, "Noto Sans Myanmar UI", arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.btm .mat-form-field-underline {
    display: none;
}

.createAccount{
    color: #0b57d0 !important;
    font-family: "Google Sans", roboto, "Noto Sans Myanmar UI", arial, sans-serif;
    margin-right: 10px;
}
  
.nextButton{
    color:#f0f4f9 !important;
    border-radius: 20px;
    background-color: #0b57d0 !important;
    margin-right: 30px;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 0;
    background-color: #f0f4f9;
}

::ng-deep .mat-form-field-appearance-fill .mat-select-arrow-wrapper {
    transform: none !important;
}

::ng-deep .mat-form-field-underline {
    width:0% !important;
}

.footerbutton1,.footerbutton{
    font-family: "Google Sans", roboto, "Noto Sans Myanmar UI", arial, sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 0.00625rem;
    line-height: 1.3333333333;
}

.checkBox{
    margin-left: 250px;
}

.forgotPassword{
    margin-left: 120px;
}

.mat-card-actions{
    margin-top: 50px;
}

.passwordError{
    margin-left: 250px;
    color:red;
}